In [58]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [59]:
df = pd.read_csv("./data/data.csv")
df.head()
df = df.drop(["index", "price", "sq_price"], axis=1)

In [60]:
df.head()

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0

In [61]:
df = df[0:10]
df.loc[:, ("y1")] = [1,1,0,0,0,1,1,1,0,1] # 1 = good, - = bad
df.loc[:, ("y2")] = df['y1'] == 0 # y2 is exact opposite of y1
df.loc[:, "y2"] = df["y2"].astype(int)
df

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   0   1
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   1   0
7  1427.0        3.0   1   0
8  1380.0        3.0   0   1
9  1494.0        3.0   1   0

In [62]:
X = df.loc[:, ['area', 'bathrooms']].as_matrix()
y = df.loc[:, ['y1', "y2"]].as_matrix()

In [63]:
X

array([[  2.10400000e+03,   3.00000000e+00],
       [  1.60000000e+03,   3.00000000e+00],
       [  2.40000000e+03,   3.00000000e+00],
       [  1.41600000e+03,   2.00000000e+00],
       [  3.00000000e+03,   4.00000000e+00],
       [  1.98500000e+03,   4.00000000e+00],
       [  1.53400000e+03,   3.00000000e+00],
       [  1.42700000e+03,   3.00000000e+00],
       [  1.38000000e+03,   3.00000000e+00],
       [  1.49400000e+03,   3.00000000e+00]])

In [64]:
y

array([[1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [1, 0]])

In [65]:
#parameters
learningRate = 0.00001
training_epochs = 2000
dislay_step = 50
n_samples = y.size

In [66]:
x = tf.placeholder(tf.float32, [None, 2])
W = tf.Variable(tf.zeros([2,2])) #Number of input features, number of output classes
b = tf.Variable(tf.zeros([2]))
y_values = tf.add(tf.matmul(x, W), b)
y_pred = tf.nn.softmax(y_values)

y_ = tf.placeholder(tf.float32, [None,2])

In [67]:
cost = tf.reduce_mean(tf.pow(y_ - y_pred,2))/ (2*n_samples)
optimizer = tf.train.GradientDescentOptimizer(learningRate).minimize(cost)

In [68]:
init = tf.global_variables_initializer()
sess = tf.InteractiveSession()
sess.run(init)

In [69]:
#Train the model

for i in range(training_epochs):
    sess.run(optimizer, feed_dict={x: X, y_: y})
    if i % 10 == 0:
        cc = sess.run(cost, feed_dict={x: X, y_: y})
        print("training step:", '%04d' % (i), "Cost=", "{:,.9f}".format(cc))

print("Optimization finished")
training_cost = sess.run(cost, feed_dict={x: X, y_: y})
print("Training cost:", training_cost, "W=", sess.run(W), "b=", sess.run(b))

('training step:', '0000', 'Cost=', '0.006223696')
('training step:', '0010', 'Cost=', '0.006183183')
('training step:', '0020', 'Cost=', '0.006182813')
('training step:', '0030', 'Cost=', '0.006182808')
('training step:', '0040', 'Cost=', '0.006182807')
('training step:', '0050', 'Cost=', '0.006182806')
('training step:', '0060', 'Cost=', '0.006182804')
('training step:', '0070', 'Cost=', '0.006182804')
('training step:', '0080', 'Cost=', '0.006182802')
('training step:', '0090', 'Cost=', '0.006182801')
('training step:', '0100', 'Cost=', '0.006182800')
('training step:', '0110', 'Cost=', '0.006182798')
('training step:', '0120', 'Cost=', '0.006182797')
('training step:', '0130', 'Cost=', '0.006182796')
('training step:', '0140', 'Cost=', '0.006182794')
('training step:', '0150', 'Cost=', '0.006182794')
('training step:', '0160', 'Cost=', '0.006182793')
('training step:', '0170', 'Cost=', '0.006182791')
('training step:', '0180', 'Cost=', '0.006182790')
('training step:', '0190', 'Cost=', '0.006182789')
('training step:', '0200', 'Cost=', '0.006182787')
('training step:', '0210', 'Cost=', '0.006182786')
('training step:', '0220', 'Cost=', '0.006182786')
('training step:', '0230', 'Cost=', '0.006182785')
('training step:', '0240', 'Cost=', '0.006182783')
('training step:', '0250', 'Cost=', '0.006182781')
('training step:', '0260', 'Cost=', '0.006182780')
('training step:', '0270', 'Cost=', '0.006182779')
('training step:', '0280', 'Cost=', '0.006182779')
('training step:', '0290', 'Cost=', '0.006182777')
('training step:', '0300', 'Cost=', '0.006182776')
('training step:', '0310', 'Cost=', '0.006182774')
('training step:', '0320', 'Cost=', '0.006182773')
('training step:', '0330', 'Cost=', '0.006182772')
('training step:', '0340', 'Cost=', '0.006182771')
('training step:', '0350', 'Cost=', '0.006182770')
('training step:', '0360', 'Cost=', '0.006182768')
('training step:', '0370', 'Cost=', '0.006182767')
('training step:', '0380', 'Cost=', '0.006182766')
('training step:', '0390', 'Cost=', '0.006182765')
('training step:', '0400', 'Cost=', '0.006182764')
('training step:', '0410', 'Cost=', '0.006182762')
('training step:', '0420', 'Cost=', '0.006182761')
('training step:', '0430', 'Cost=', '0.006182760')
('training step:', '0440', 'Cost=', '0.006182759')
('training step:', '0450', 'Cost=', '0.006182758')
('training step:', '0460', 'Cost=', '0.006182757')
('training step:', '0470', 'Cost=', '0.006182755')
('training step:', '0480', 'Cost=', '0.006182754')
('training step:', '0490', 'Cost=', '0.006182753')
('training step:', '0500', 'Cost=', '0.006182752')
('training step:', '0510', 'Cost=', '0.006182750')
('training step:', '0520', 'Cost=', '0.006182750')
('training step:', '0530', 'Cost=', '0.006182748')
('training step:', '0540', 'Cost=', '0.006182747')
('training step:', '0550', 'Cost=', '0.006182746')
('training step:', '0560', 'Cost=', '0.006182744')
('training step:', '0570', 'Cost=', '0.006182743')
('training step:', '0580', 'Cost=', '0.006182742')
('training step:', '0590', 'Cost=', '0.006182741')
('training step:', '0600', 'Cost=', '0.006182740')
('training step:', '0610', 'Cost=', '0.006182739')
('training step:', '0620', 'Cost=', '0.006182737')
('training step:', '0630', 'Cost=', '0.006182736')
('training step:', '0640', 'Cost=', '0.006182735')
('training step:', '0650', 'Cost=', '0.006182734')
('training step:', '0660', 'Cost=', '0.006182733')
('training step:', '0670', 'Cost=', '0.006182731')
('training step:', '0680', 'Cost=', '0.006182730')
('training step:', '0690', 'Cost=', '0.006182729')
('training step:', '0700', 'Cost=', '0.006182728')
('training step:', '0710', 'Cost=', '0.006182726')
('training step:', '0720', 'Cost=', '0.006182726')
('training step:', '0730', 'Cost=', '0.006182724')
('training step:', '0740', 'Cost=', '0.006182724')
('training step:', '0750', 'Cost=', '0.006182722')
('training step:', '0760', 'Cost=', '0.006182720')
('training step:', '0770', 'Cost=', '0.006182719')
('training step:', '0780', 'Cost=', '0.006182718')
('training step:', '0790', 'Cost=', '0.006182717')
('training step:', '0800', 'Cost=', '0.006182716')
('training step:', '0810', 'Cost=', '0.006182714')
('training step:', '0820', 'Cost=', '0.006182713')
('training step:', '0830', 'Cost=', '0.006182713')
('training step:', '0840', 'Cost=', '0.006182711')
('training step:', '0850', 'Cost=', '0.006182710')
('training step:', '0860', 'Cost=', '0.006182709')
('training step:', '0870', 'Cost=', '0.006182707')
('training step:', '0880', 'Cost=', '0.006182706')
('training step:', '0890', 'Cost=', '0.006182705')
('training step:', '0900', 'Cost=', '0.006182704')
('training step:', '0910', 'Cost=', '0.006182703')
('training step:', '0920', 'Cost=', '0.006182701')
('training step:', '0930', 'Cost=', '0.006182700')
('training step:', '0940', 'Cost=', '0.006182699')
('training step:', '0950', 'Cost=', '0.006182698')
('training step:', '0960', 'Cost=', '0.006182697')
('training step:', '0970', 'Cost=', '0.006182696')
('training step:', '0980', 'Cost=', '0.006182694')
('training step:', '0990', 'Cost=', '0.006182692')
('training step:', '1000', 'Cost=', '0.006182692')
('training step:', '1010', 'Cost=', '0.006182691')
('training step:', '1020', 'Cost=', '0.006182690')
('training step:', '1030', 'Cost=', '0.006182688')
('training step:', '1040', 'Cost=', '0.006182687')
('training step:', '1050', 'Cost=', '0.006182685')
('training step:', '1060', 'Cost=', '0.006182685')
('training step:', '1070', 'Cost=', '0.006182684')
('training step:', '1080', 'Cost=', '0.006182683')
('training step:', '1090', 'Cost=', '0.006182681')
('training step:', '1100', 'Cost=', '0.006182680')
('training step:', '1110', 'Cost=', '0.006182679')
('training step:', '1120', 'Cost=', '0.006182678')
('training step:', '1130', 'Cost=', '0.006182677')
('training step:', '1140', 'Cost=', '0.006182675')
('training step:', '1150', 'Cost=', '0.006182674')
('training step:', '1160', 'Cost=', '0.006182673')
('training step:', '1170', 'Cost=', '0.006182672')
('training step:', '1180', 'Cost=', '0.006182671')
('training step:', '1190', 'Cost=', '0.006182669')
('training step:', '1200', 'Cost=', '0.006182668')
('training step:', '1210', 'Cost=', '0.006182666')
('training step:', '1220', 'Cost=', '0.006182666')
('training step:', '1230', 'Cost=', '0.006182665')
('training step:', '1240', 'Cost=', '0.006182664')
('training step:', '1250', 'Cost=', '0.006182662')
('training step:', '1260', 'Cost=', '0.006182661')
('training step:', '1270', 'Cost=', '0.006182659')
('training step:', '1280', 'Cost=', '0.006182658')
('training step:', '1290', 'Cost=', '0.006182658')
('training step:', '1300', 'Cost=', '0.006182657')
('training step:', '1310', 'Cost=', '0.006182655')
('training step:', '1320', 'Cost=', '0.006182654')
('training step:', '1330', 'Cost=', '0.006182652')
('training step:', '1340', 'Cost=', '0.006182651')
('training step:', '1350', 'Cost=', '0.006182651')
('training step:', '1360', 'Cost=', '0.006182649')
('training step:', '1370', 'Cost=', '0.006182647')
('training step:', '1380', 'Cost=', '0.006182647')
('training step:', '1390', 'Cost=', '0.006182645')
('training step:', '1400', 'Cost=', '0.006182644')
('training step:', '1410', 'Cost=', '0.006182643')
('training step:', '1420', 'Cost=', '0.006182642')
('training step:', '1430', 'Cost=', '0.006182641')
('training step:', '1440', 'Cost=', '0.006182640')
('training step:', '1450', 'Cost=', '0.006182638')
('training step:', '1460', 'Cost=', '0.006182637')
('training step:', '1470', 'Cost=', '0.006182636')
('training step:', '1480', 'Cost=', '0.006182634')
('training step:', '1490', 'Cost=', '0.006182634')
('training step:', '1500', 'Cost=', '0.006182632')
('training step:', '1510', 'Cost=', '0.006182631')
('training step:', '1520', 'Cost=', '0.006182630')
('training step:', '1530', 'Cost=', '0.006182629')
('training step:', '1540', 'Cost=', '0.006182628')
('training step:', '1550', 'Cost=', '0.006182626')
('training step:', '1560', 'Cost=', '0.006182625')
('training step:', '1570', 'Cost=', '0.006182624')
('training step:', '1580', 'Cost=', '0.006182623')
('training step:', '1590', 'Cost=', '0.006182621')
('training step:', '1600', 'Cost=', '0.006182620')
('training step:', '1610', 'Cost=', '0.006182619')
('training step:', '1620', 'Cost=', '0.006182618')
('training step:', '1630', 'Cost=', '0.006182617')
('training step:', '1640', 'Cost=', '0.006182615')
('training step:', '1650', 'Cost=', '0.006182614')
('training step:', '1660', 'Cost=', '0.006182613')
('training step:', '1670', 'Cost=', '0.006182612')
('training step:', '1680', 'Cost=', '0.006182611')
('training step:', '1690', 'Cost=', '0.006182610')
('training step:', '1700', 'Cost=', '0.006182609')
('training step:', '1710', 'Cost=', '0.006182607')
('training step:', '1720', 'Cost=', '0.006182606')
('training step:', '1730', 'Cost=', '0.006182604')
('training step:', '1740', 'Cost=', '0.006182603')
('training step:', '1750', 'Cost=', '0.006182601')
('training step:', '1760', 'Cost=', '0.006182600')
('training step:', '1770', 'Cost=', '0.006182600')
('training step:', '1780', 'Cost=', '0.006182599')
('training step:', '1790', 'Cost=', '0.006182597')
('training step:', '1800', 'Cost=', '0.006182597')
('training step:', '1810', 'Cost=', '0.006182595')
('training step:', '1820', 'Cost=', '0.006182594')
('training step:', '1830', 'Cost=', '0.006182593')
('training step:', '1840', 'Cost=', '0.006182591')
('training step:', '1850', 'Cost=', '0.006182591')
('training step:', '1860', 'Cost=', '0.006182589')
('training step:', '1870', 'Cost=', '0.006182588')
('training step:', '1880', 'Cost=', '0.006182586')
('training step:', '1890', 'Cost=', '0.006182585')
('training step:', '1900', 'Cost=', '0.006182585')
('training step:', '1910', 'Cost=', '0.006182584')
('training step:', '1920', 'Cost=', '0.006182582')
('training step:', '1930', 'Cost=', '0.006182580')
('training step:', '1940', 'Cost=', '0.006182579')
('training step:', '1950', 'Cost=', '0.006182577')
('training step:', '1960', 'Cost=', '0.006182577')
('training step:', '1970', 'Cost=', '0.006182577')
('training step:', '1980', 'Cost=', '0.006182575')
('training step:', '1990', 'Cost=', '0.006182573')
Optimization finished
('Training cost:', 0.0061825728, 'W=', array([[  5.61305205e-05,  -5.61304441e-05],
       [  4.74238077e-05,  -4.74238077e-05]], dtype=float32), 'b=', array([  1.24060152e-05,  -1.24060125e-05], dtype=float32))

In [70]:
sess.run(y_pred, feed_dict={x: X})

array([[ 0.55885255,  0.44114748],
       [ 0.54486078,  0.45513925],
       [ 0.56702805,  0.43297198],
       [ 0.53971022,  0.46028981],
       [ 0.58350706,  0.41649291],
       [ 0.5555799 ,  0.44442007],
       [ 0.54302275,  0.45697722],
       [ 0.54004049,  0.45995948],
       [ 0.53872961,  0.46127036],
       [ 0.54190826,  0.45809177]], dtype=float32)